Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @Ennazus, @e-lo, @inrokevin, @i-am-sijia

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @Ennazus

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz   @Ennazus
setup.config                    @e-lo    @lmz   @Ennazus
pre-commit-config.yaml          @e-lo    @lmz   @Ennazus
.markdownlint.yaml              @e-lo    @lmz   @Ennazus

# Documentation Setup
/docs/                         @e-lo    @lmz   @Ennazus
mkdocs.yml                     @e-lo    @lmz   @Ennazus

# Documentation Content
*.md                            @lmz     @Ennazus

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @Ennazus   @i-am-sijia

More logging fixes (don't say DEBUG for level=INFO)
  tm2py/components/network/create_tod_scenarios.py
Owners: @lmz, @Ennazus

Remove outdated documentation (from pre-simplification)
  docs/testing/configuration.md
  docs/testing/county-test-guide.md
  docs/testing/data-flow.md
  docs/testing/filtering-trips.md
  docs/testing/index.md
  docs/testing/network-thinning.md
  docs/testing/quick-reference.md
  docs/testing/quick-start.md
  docs/testing/setup.md
  scripts/run_county_test.py
Owners: @lmz, @Ennazus

Don't crash if household core didn't run
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

Add functional main similar to post_processor.py
  tm2py/components/network_summary.py
Owners: @lmz, @Ennazus

Make default display level for console logging = INFO
  tm2py/config.py
Owners: @lmz, @Ennazus

Run only AM and MD time periods
  scripts/run_county_test.py
Owners: @lmz, @Ennazus

Filter to the time periods for highway_distribution as well
  scripts/run_county_test.py
Owners: @lmz, @Ennazus

Re-enable slack since this works
  scripts/run_county_test.py
Owners: @lmz, @Ennazus

Deprecate outdated documentation
  PR_DESCRIPTION.md
Owners: @lmz, @Ennazus

Doc link to land use creation readme
  docs/ctramp/components/parking-location.md
  docs/ctramp/components/parking-provision.md
  docs/input/landuse.md
Owners: @lmz, @Ennazus

Adding a comprehensive review of parking modeling
  docs/ctramp/parking.md
Owners: @lmz, @Ennazus

Add parking to the mkdocs navigation
  mkdocs.yml
Owners: @e-lo, @lmz, @Ennazus

adding more detailed parking representation
  docs/ctramp/parking.md
Owners: @lmz, @Ennazus

Update parking.md
  docs/ctramp/parking.md
Owners: @lmz, @Ennazus

Couple little fixes, air passenger time period, transit skimming handling
  tm2py/components/demand/air_passenger.py
  tm2py/components/network/create_tod_scenarios.py
Owners: @lmz, @Ennazus

Adding more detail
  docs/ctramp/parking.md
Owners: @lmz, @Ennazus

Fix matrix server configuration for dual-emmebank architecture (PR #223)
  tm2py/setup_model/setup.py
Owners: @e-lo, @lmz

Fix EMME DB handling and skim time check
  tm2py/components/network/skims.py
  tm2py/emme/manager.py
  tm2py/setup_model/setup.py
Owners: @lmz, @Ennazus, @inrokevin, @e-lo

Fix transit skim OMX matrix names: uppercase time period prefix for CTRAMP
  tm2py/components/network/transit/transit_skim.py
Owners: @lmz, @Ennazus

Fix case mismatch in congested transit assignment period check
  tm2py/components/network/transit/transit_assign.py
Owners: @lmz, @Ennazus

Update documentation
  docs/run.md
  docs/setup-component-integration.md
  scripts/run_county_test.py
Owners: @lmz, @Ennazus

Deprecate another unused doc
  SETUP_COMPONENT_TODO.md
Owners: @lmz, @Ennazus

Remove unnecessary code that is wrong about dual databases
  tm2py/setup_model/setup.py
Owners: @e-lo, @lmz

Uppercase matrix names in post_processor.py
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

tomlkit used in the run_county_test.py
  requirements.txt
Owners: @inrokevin, @lmz

Making run_county_test.py be setup, and then run, optionally
  scripts/run_county_test.py
Owners: @lmz, @Ennazus

Adding number of processor configuration documentation
  docs/index.md
  docs/processor-configuration-improvements.md
  docs/processor-configuration.md
  docs/run.md
Owners: @lmz, @Ennazus

Update processor-configuration.md
  docs/processor-configuration.md
Owners: @lmz, @Ennazus

runtime performance testing notes
  docs/processor-configuration-improvements.md
  docs/processor-configuration.md
  docs/testing/index.md
  docs/testing/runtime-performance.md
Owners: @lmz, @Ennazus
