Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @Ennazus, @e-lo, @inrokevin, @i-am-sijia

fixing a bug in setup.py
  tm2py/setup_model/setup.py
Owners: @e-lo, @lmz

fixing a bug in setup.py
  tm2py/setup_model/setup.py
Owners: @e-lo, @lmz

Adding slack notifications for model runs. Warning! This has not been tested
  scripts/notify_slack.py
  tm2py/setup_model/setup.py
Owners: @lmz, @Ennazus, @e-lo

Make the slack notifications optional
  tm2py/setup_model/setup.py
Owners: @e-lo, @lmz

config.py had a change need for pydantic
  tm2py/config.py
Owners: @lmz, @Ennazus

handling maz id more robustly
  scripts/notify_slack.py
  tm2py/components/network/create_tod_scenarios.py
Owners: @lmz, @Ennazus

adding some more debug comments
  tm2py/components/network/active/active_modes.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/config.py
  tm2py/setup_model/setup.py
Owners: @lmz, @Ennazus, @e-lo

Documentation port from travel-model-two, build out of input instructions
  docs/README.md
  docs/contributing/documentation.md
  docs/create-base-year-inputs.md
  docs/geographies.md
  docs/guide.md
  docs/index.md
  docs/index.md.backup
  docs/input/commercial.md
  docs/input/demand.md
  docs/input/index.md
  docs/input/landuse.md
  docs/input/network.md
  docs/input/population.md
  docs/input/transit.md
  docs/install.md
  docs/maz-updates.md
  docs/network-base-year.md
  docs/network_qa.md
  docs/papers.md
  docs/process.md
  docs/run.md
  mkdocs.yml
  pyproject.toml
  setup-docs.ps1
  tm2py/_version.py
  tm2py/setup_model/setup.py
Owners: @lmz, @Ennazus, @e-lo

Update documentation with new pages and cross-references
  .github/workflows/docs.yml
Owners: @e-lo, @lmz, @Ennazus

Update release.yml for documentation with github-actions
  .github/workflows/release.yml
Owners: @e-lo, @lmz, @Ennazus

Update documentation.md
  docs/contributing/documentation.md
Owners: @lmz, @Ennazus

Add comprehensive output documentation structure
  docs/output/assignment.md
  docs/output/commercial.md
  docs/output/ctramp.md
  docs/output/skims.md
  docs/output/summaries.md
  docs/outputs.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Fix GitHub Actions documentation build by disabling mkdocstrings
  mkdocs.yml
Owners: @e-lo, @lmz, @Ennazus

Use minimal documentation requirements to avoid GDAL conflicts
  docs/requirements.txt
  mkdocs.yml
Owners: @inrokevin, @lmz, @e-lo, @Ennazus

Fix GDAL dependency issue by removing MkDocs watch directive
  docs/requirements.txt
  mkdocs.yml
Owners: @inrokevin, @lmz, @e-lo, @Ennazus

Fix GitHub Pages deployment permissions and remove conflicting workflow
  .github/ISSUE_TEMPLATE/api-docs-workflow.md
  .github/workflows/docs.yml
  github-issue-api-docs.md
Owners: @lmz, @Ennazus, @e-lo

More explanation of how to add to the documentation
  docs/contributing/documentation.md
Owners: @lmz, @Ennazus

Update maz-updates.md to include update process and future steps
  docs/maz-updates.md
Owners: @lmz, @Ennazus

ctramp documentation build out
  docs/ctramp/architecture.md
  docs/ctramp/components/at-work-subtours.md
  docs/ctramp/components/auto-ownership.md
  docs/ctramp/components/cdap.md
  docs/ctramp/components/index.md
  docs/ctramp/components/individual-tours.md
  docs/ctramp/components/joint-tours.md
  docs/ctramp/components/mandatory-tours.md
  docs/ctramp/components/stop-frequency.md
  docs/ctramp/components/stop-location.md
  docs/ctramp/components/tour-destination.md
  docs/ctramp/components/tour-mode-choice.md
  docs/ctramp/components/tour-tod.md
  docs/ctramp/components/trip-mode-choice.md
  docs/ctramp/data/formats.md
  docs/ctramp/data/inputs.md
  docs/ctramp/data/outputs.md
  docs/ctramp/data/validation.md
  docs/ctramp/examples/index.md
  docs/ctramp/execution/configuration.md
  docs/ctramp/execution/index.md
  docs/ctramp/execution/troubleshooting.md
  docs/ctramp/execution/workflow.md
  docs/ctramp/index.md
  docs/ctramp/overview.md
  docs/ctramp/uec/examples.md
  docs/ctramp/uec/files.md
  docs/ctramp/uec/framework.md
  docs/ctramp/uec/index.md
Owners: @lmz, @Ennazus

update land use input used in the truck demand model
  tm2py/components/demand/commercial.py
Owners: @lmz, @Ennazus

extensive building out of ctramp documementation
  check_nav.py
  docs/ctramp/atwork_subtour_documentation.md
  docs/ctramp/components/tour-mode-choice-enhanced.md
  docs/ctramp/data/step7_calibration_validation_data.md
  docs/ctramp/data/step7_data_collection_procedures.md
  docs/ctramp/data/step7_data_management_governance.md
  docs/ctramp/data/step7_data_quality_assurance.md
  docs/ctramp/data/step7_master_data_requirements.md
  docs/ctramp/implementation/step6_calibration_procedures_guide.md
  docs/ctramp/implementation/step6_execution_workflow_guide.md
  docs/ctramp/implementation/step6_scenario_analysis_guide.md
  docs/ctramp/implementation/step6_troubleshooting_guide.md
  docs/ctramp/index.md
  docs/ctramp/individual_tour_documentation.md
  docs/ctramp/joint_tour_documentation.md
  docs/ctramp/mkdocs_ctramp_navigation.json
  docs/ctramp/mkdocs_integration_instructions.md
  docs/ctramp/school_location_choice_documentation.md
  docs/ctramp/step1_ctramp_reference.md
  docs/ctramp/step2_model_files_inventory.md
  docs/ctramp/step3_java_codebase_analysis.md
  docs/ctramp/stop_frequency_documentation.md
  docs/ctramp/stop_location_choice_documentation.md
  docs/ctramp/tour_destination_choice_documentation.md
  docs/ctramp/tour_mode_choice_documentation.md
  docs/ctramp/tour_tod_documentation.md
  docs/ctramp/trip_mode_choice_documentation.md
  docs/ctramp/uec-framework.md
  docs/ctramp/uec/step4_uec_java_mapping.md
  docs/ctramp/uec/step5_uec_framework_analysis.md
  docs/input/index.md
  docs/input/landuse.md
  docs/input/population.md
  docs/output/ctramp.md
  docs/output/ctramp_backup.md
Owners: @lmz, @Ennazus, @e-lo

update ctramp.md
  docs/output/ctramp.md
Owners: @lmz, @Ennazus

update land use input for the creation of the maz-taz correspondence
  tm2py/components/network/highway/drive_access_skims.py
Owners: @lmz, @Ennazus

updating mode and purpose lists in documentation
  docs/output/ctramp.md
Owners: @lmz, @Ennazus

update land use input for area type calculation
  tm2py/components/network/create_tod_scenarios.py
Owners: @lmz, @Ennazus

updating install documentation to remove bad emojis
  docs/install.md
Owners: @lmz, @Ennazus

Update skim outputs to match tm2py
  docs/output/skims.md
Owners: @lmz, @Ennazus

Convert bullet list to table
  docs/output/skims.md
Owners: @lmz, @Ennazus

Fixing formatting error
  docs/output/skims.md
Owners: @lmz, @Ennazus

Uploading post_processing notebook for acceptance criteria
  notebooks/Post_processing_v2.ipynb
Owners: @lmz, @Ennazus

remove maz_landuse_file path
  tm2py/components/network/highway/highway_maz.py
  tm2py/config.py
Owners: @lmz, @Ennazus

network summarization script starts
  scripts/network_summary.py
  scripts/run_post_process_acceptance.py
Owners: @lmz, @Ennazus

fixing the highway geojson export
  scripts/run_post_process_acceptance.py
Owners: @lmz, @Ennazus

Added telecommute variables to Person Data output
  docs/output/ctramp.md
Owners: @lmz, @Ennazus

Adding documentation for running the postprocessor
  docs/output/standalone-postprocessor.md
Owners: @lmz, @Ennazus

adding in the post-processor
  mkdocs.yml
Owners: @e-lo, @lmz, @Ennazus

building out networs summaries and documentation
  docs/output/assignment.md
  docs/output/network-analysis.md
  docs/outputs.md
  mkdocs.yml
  scripts/network_summary.py
Owners: @lmz, @Ennazus, @e-lo

removing weird numbers from the documentation
  docs/output/network-analysis.md
Owners: @lmz, @Ennazus

commenting out the push workflows
  .github/workflows/flake.yml
  .github/workflows/push.yml
  docs/input/network.md
  scripts/emme_link_attributes.txt
Owners: @e-lo, @lmz, @Ennazus

network documentation
  .github/workflows/push.yml
  docs/input/network.md
  docs/output/network-analysis.md
Owners: @e-lo, @lmz, @Ennazus

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @Ennazus

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz   @Ennazus
setup.config                    @e-lo    @lmz   @Ennazus
pre-commit-config.yaml          @e-lo    @lmz   @Ennazus
.markdownlint.yaml              @e-lo    @lmz   @Ennazus

# Documentation Setup
/docs/                         @e-lo    @lmz   @Ennazus
mkdocs.yml                     @e-lo    @lmz   @Ennazus

# Documentation Content
*.md                            @lmz     @Ennazus

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @Ennazus   @i-am-sijia
