Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @FlaviaTsang, @e-lo, @inrokevin, @i-am-sijia

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @FlaviaTsang

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz
setup.config                    @e-lo    @lmz
pre-commit-config.yaml          @e-lo    @lmz
.markdownlint.yaml              @e-lo    @lmz

# Documentation Setup
/docs/                         @e-lo    @lmz
mkdocs.yml                     @e-lo    @lmz

# Documentation Content
*.md                            @lmz     @FlaviaTsang

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @FlaviaTsang   @i-am-sijia

Include inro_context to import emme or mock as needed
  tests/test_air_access.py
Owners: @e-lo, @inrokevin, @lmz

Run test_commercial_vehicle using inro_context
  tests/test_trucks.py
Owners: @e-lo, @inrokevin, @lmz

Fixes import error in tests (when Emme is imported)
  tests/conftest.py
Owners: @e-lo, @inrokevin, @lmz

Activate tests; these were getting skipped
  tests/test_highway.py
Owners: @e-lo, @inrokevin, @lmz

Remove black requirement per #91
  .github/pull_request_template.md
  .pre-commit-config.yaml
  dev-requirements.txt
  environment.yml
Owners: @lmz, @FlaviaTsang, @inrokevin

Run pre-commit
  tests/conftest.py
  tests/test_trucks.py
  tm2py/__init__.py
  tm2py/components/demand/toll_choice.py
  tm2py/controller.py
  tm2py/emme/manager.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

Move union_city pytest.fixture to conftest.py
  tests/conftest.py
  tests/test_run_flow.py
Owners: @e-lo, @inrokevin, @lmz

Add GDAL to requirements
  requirements.txt
Owners: @inrokevin, @lmz

transit skim with fare on
  tm2py/components/network/transit/transit_skim.py
Owners: @lmz, @FlaviaTsang

update transit model config
  examples/model_config.toml
Owners: @FlaviaTsang, @i-am-sijia

update test
  tests/test_tools.py
  tests/test_transit.py
Owners: @e-lo, @inrokevin, @lmz

Put import gdal statement in inro_context fixture
  tests/conftest.py
  tests/test_trucks.py
Owners: @e-lo, @inrokevin, @lmz

temp solution: combine transit unit tests
  tests/test_transit.py
  tests/tools.py
Owners: @e-lo, @inrokevin, @lmz

add missing definitions
  tests/test_tools.py
  tm2py/components/network/transit/transit_assign.py
  tm2py/components/network/transit/transit_network.py
  tm2py/emme/network.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

Get tests working
  bin/tm2py
  docs/api.md
  mkdocs.yml
  requirements.txt
  tests/conftest.py
  tests/test_air_access.py
  tests/test_externals.py
  tests/test_highway.py
  tests/test_household.py
  tests/test_network.py
  tests/test_run_flow.py
  tests/test_trucks.py
Owners: @inrokevin, @lmz, @e-lo, @FlaviaTsang

Update test_highway.py
  tests/test_highway.py
Owners: @e-lo, @inrokevin, @lmz

add transit skim debug report
  tm2py/components/network/transit/transit_skim.py
Owners: @lmz, @FlaviaTsang

remove import mislib
  tm2py/components/network/transit/transit_assign.py
Owners: @lmz, @FlaviaTsang

remove import msilib
  tm2py/components/network/transit/transit_network.py
Owners: @lmz, @FlaviaTsang

add scipy as dependency
  requirements.txt
Owners: @inrokevin, @lmz

update tests
  tests/conftest.py
  tests/test_config.py
  tests/test_transit.py
  tests/test_trucks.py
Owners: @e-lo, @inrokevin, @lmz

Start on acceptance framework
  .github/workflows/test.yml
  tm2py/acceptance.py
Owners: @e-lo, @lmz, @FlaviaTsang

update highway prepare demand
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @FlaviaTsang

update highway assign
  tm2py/components/network/highway/highway_assign.py
Owners: @lmz, @FlaviaTsang

update highway network prep
  tm2py/components/network/highway/highway_network.py
Owners: @lmz, @FlaviaTsang

update maz assign and skim
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @FlaviaTsang

write maz flow to roadway links
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @FlaviaTsang

add non-res demand matrices to config
  examples/model_config.toml
  tm2py/config.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

update network.py
  tm2py/emme/network.py
Owners: @inrokevin

separate out maz tests
  tests/test_highway.py
  tests/test_highway_maz.py
Owners: @e-lo, @inrokevin, @lmz

additional outlining
  requirements.txt
  tm2py/acceptance.py
Owners: @inrokevin, @lmz, @FlaviaTsang

update highway skim names
  tm2py/components/network/highway/highway_assign.py
Owners: @lmz, @FlaviaTsang

update tests
  tests/test_highway.py
  tests/test_transit.py
  tests/test_trucks.py
Owners: @e-lo, @inrokevin, @lmz

allow tests to be skipped
  .github/workflows/test.yml
Owners: @e-lo, @lmz

Move to dev environment, sketch out observed toml, add notebook to help
  environment.yml
  examples/observed_data.toml
  notebooks/acceptance-dev-helper.ipynb
  tm2py/__init__.py
  tm2py/acceptance.py
Owners: @inrokevin, @lmz, @FlaviaTsang, @i-am-sijia

add on-board survey reductions
  examples/observed_data.toml
  notebooks/acceptance-dev-helper.ipynb
  requirements.txt
  tm2py/acceptance.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz, @inrokevin

add model config, bit more progress on transit
  examples/scenario_config.toml
  notebooks/acceptance-dev-helper.ipynb
  tm2py/acceptance.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

progress on transit, add temp data
  examples/observed_data.toml
  examples/scenario_config.toml
  examples/temp_acceptance/boardings_by_line_am.csv
  examples/temp_acceptance/boardings_by_line_ea.csv
  examples/temp_acceptance/boardings_by_line_ev.csv
  examples/temp_acceptance/boardings_by_line_md.csv
  examples/temp_acceptance/boardings_by_line_pm.csv
  examples/temp_acceptance/transit-standard-2015-to-survey-crosswalk.csv
  notebooks/acceptance-dev-helper.ipynb
  tm2py/acceptance.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

pre-commit checks
  tests/conftest.py
  tests/test_trucks.py
  tm2py/components/network/highway/highway_assign.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

Progress on transit acceptance
  .gitignore
  examples/observed_data.toml
  examples/temp_acceptance/boardings_by_line_am.csv
  examples/temp_acceptance/boardings_by_line_ea.csv
  examples/temp_acceptance/boardings_by_line_ev.csv
  examples/temp_acceptance/boardings_by_line_md.csv
  examples/temp_acceptance/boardings_by_line_pm.csv
  notebooks/acceptance-dev-helper.ipynb
  notebooks/acceptance-transit.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang, @i-am-sijia
