Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @Ennazus, @e-lo, @inrokevin, @i-am-sijia

Update flake.yml
  .github/workflows/flake.yml
Owners: @e-lo, @lmz, @Ennazus

Fix the network header
  docs/input/network.md
Owners: @lmz, @Ennazus

Update README with land use input file details
  README.md
Owners: @lmz, @Ennazus

Revise README to improve clarity and remove negativity
  README.md
Owners: @lmz, @Ennazus

building out the network summary and documentation
  docs/output/network-analysis.md
  docs/output/network-summary-testing-plan.md
  docs/output/network-summary-usage.md
  mkdocs.yml
  scripts/README.md
  scripts/network_summary.py
  scripts/run_post_process_acceptance.py
  scripts/test_network_summary_component.py
  tests/test_network_summary.py
  tm2py/components/network_summary.py
  tm2py/config.py
  tm2py/controller.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

building out network_summary and a test user interface
  docs/gui.md
  scripts/tm2py_gui.py
  tm2py/components/network_summary.py
  tm2py/config.py
  tm2py/gui/__init__.py
  tm2py/gui/app.py
  tm2py/gui/components/__init__.py
  tm2py/gui/pages/__init__.py
  tm2py/gui/pages/config.py
  tm2py/gui/pages/results.py
  tm2py/gui/pages/run.py
  tm2py/gui/pages/setup.py
  tm2py/gui/requirements-gui.txt
  tm2py/gui/utils/__init__.py
  tm2py/gui/utils/session_state.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

Building out the network_summary system
  docs/gui.md
  examples/model_config.toml
  requirements.txt
  tm2py/components/network_summary.py
  tm2py/config.py
  tm2py/gui/pages/run.py
Owners: @lmz, @Ennazus, @i-am-sijia, @inrokevin

building out transit parts for network summary
  tm2py/components/network_summary.py
Owners: @lmz, @Ennazus

network summary documentation, fixes
  docs/index.md
  docs/network_summary.md
  docs/output/network-summary-usage.md
  docs/output/summaries.md
  docs/outputs.md
  mkdocs.yml
  tm2py/components/README_NetworkSummary.md
  tm2py/components/network_summary.py
Owners: @lmz, @Ennazus, @e-lo

Update summaries.md with more accurate info
  docs/output/summaries.md
Owners: @lmz, @Ennazus

Correcting truck volume calcs
  tm2py/components/network_summary.py
Owners: @lmz, @Ennazus

Improving the slack messages
  scripts/notify_slack.py
  tm2py/setup_model/setup.py
Owners: @lmz, @Ennazus, @e-lo

Removed the configs and tomls- they are in tm2py-utils now
  examples/README.md
  examples/canonical_crosswalk.toml
  examples/model_config.toml
  examples/observed_data.toml
  examples/scenario_config.toml
  examples/setup_config.toml
Owners: @Ennazus, @i-am-sijia

initial commit
  tm2py/components/demand/household.py
Owners: @lmz, @Ennazus

maz table is manually separated from taz
  tm2py/components/demand/prepare_demand.py
  tm2py/config.py
Owners: @lmz, @Ennazus

I believe new demands method is working
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

Update post_processor to attach highway skims
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

This version works with multiple iterations
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

Update to include transit skim attachments
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

add maz landuse data model
  tm2py/controller.py
  tm2py/datamodels/maz_landuse.py
Owners: @lmz, @Ennazus

update maz reference
  tm2py/components/demand/commercial.py
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

remove zone_seq_file as seq index is now calculated in data model
  tm2py/components/network/active/active_modes.py
  tm2py/config.py
Owners: @lmz, @Ennazus

update maz reference
  tm2py/components/network_summary.py
Owners: @lmz, @Ennazus

add pandera as dependency
  pyproject.toml
  requirements.txt
Owners: @lmz, @Ennazus, @inrokevin

Added nonmotorized skim attachments
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

Rename maz landuse to maz data and update references
  tm2py/controller.py
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus

Rename maz landuse to maz data and update references
  tm2py/components/demand/commercial.py
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/active/active_modes.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/components/network_summary.py
  tm2py/controller.py
Owners: @lmz, @Ennazus

Fix broken links
  .gitignore
  docs/input/landuse.md
Owners: @lmz, @Ennazus

Add skim attachments to tours
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

working out distance
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

Added transit distance to trips/tours
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

assignment is working
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

add canonical mode choice file
  tm2py/__init__.py
  tm2py/canonical_mode_choice.py
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @Ennazus

fixed up some naming according to comment
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @Ennazus

corrected set background maz traffic
  tm2py/components/network/highway/highway_assign.py
Owners: @lmz, @Ennazus

fixed typing highlighted by vscode
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

fixing minor errors made
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

finalized logic for mode demand preporation
  tm2py/__init__.py
  tm2py/canonical_mode_choice.py
  tm2py/components/demand/prepare_demand.py
  tm2py/config.py
  tm2py/enum.py
Owners: @lmz, @Ennazus

was missing school bus in previous enum
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @Ennazus

removed commented line
  tm2py/config.py
Owners: @lmz, @Ennazus

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @Ennazus

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz   @Ennazus
setup.config                    @e-lo    @lmz   @Ennazus
pre-commit-config.yaml          @e-lo    @lmz   @Ennazus
.markdownlint.yaml              @e-lo    @lmz   @Ennazus

# Documentation Setup
/docs/                         @e-lo    @lmz   @Ennazus
mkdocs.yml                     @e-lo    @lmz   @Ennazus

# Documentation Content
*.md                            @lmz     @Ennazus

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @Ennazus   @i-am-sijia
