Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @Ennazus, @e-lo, @inrokevin, @i-am-sijia

was missing some demands
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @Ennazus

removed debug statements
  tm2py/components/demand/household.py
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

one more debug statement
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

adding value of time doc
  docs/ctramp/VALUE_OF_TIME_ANALYSIS.md
  docs/ctramp/tour_mode_choice_documentation.md
  docs/ctramp/uec-framework.md
Owners: @lmz, @Ennazus

Adding in CTRAMP docs
  docs/ctramp/index.md
  docs/ctramp/mkdocs_ctramp_navigation.json
  docs/ctramp/mkdocs_integration_instructions.md
  docs/ctramp/tour_mode_choice_documentation.md
  docs/ctramp/trip_mode_choice_documentation.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Update mkdocs.yml
  mkdocs.yml
Owners: @e-lo, @lmz, @Ennazus

Update VALUE_OF_TIME_ANALYSIS.md
  docs/ctramp/VALUE_OF_TIME_ANALYSIS.md
Owners: @lmz, @Ennazus

Update VALUE_OF_TIME_ANALYSIS.md
  docs/ctramp/VALUE_OF_TIME_ANALYSIS.md
Owners: @lmz, @Ennazus

Fixing transit skim attachments for tours
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

building out assignment documentation
  docs/assignment/highway_value_of_time.md
  docs/assignment/index.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

create node id xwalk from Lasso, use it to validate the zone IDs in maz data
  tm2py/components/network/active/active_modes.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus

Updating trip distance calc
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

Add fp_choice options to docs
  docs/output/ctramp.md
Owners: @lmz, @Ennazus

fixed incorrect enum translation
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @Ennazus

remove drive_access_skims
  tm2py/components/network/highway/drive_access_skims.py
  tm2py/controller.py
Owners: @lmz, @Ennazus

rename N as model_node_id
  tm2py/components/network/active/active_modes.py
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus

remove crosswalk path as the file should be in the highway input
  tm2py/config.py
Owners: @lmz, @Ennazus

added requested comments
  tm2py/components/demand/prepare_demand.py
  tm2py/enum.py
Owners: @lmz, @Ennazus

add crosswalk file to model_config and validation for node IDs
  tm2py/config.py
  tm2py/controller.py
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus

made more permanent location for maz demands
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

Update CTRAMP documentation
  docs/assignment/index.md
  docs/assignment/volume_delay_functions.md
  docs/ctramp/SANDAG_ABM_Model_Design.docx
  docs/ctramp/SANDAG_ABM_Model_Design.txt
  docs/ctramp/SANDAG_ABM_Model_Estimation.docx
  docs/ctramp/components/at-work-subtours.md
  docs/ctramp/components/auto-ownership.md
  docs/ctramp/components/cdap.md
  docs/ctramp/components/individual-tours.md
  docs/ctramp/components/joint-tours.md
  docs/ctramp/components/mandatory-tours.md
  docs/ctramp/components/stop-frequency.md
  docs/ctramp/components/stop-location.md
  docs/ctramp/components/tour-destination.md
  docs/ctramp/components/tour-mode-choice-enhanced.md
  docs/ctramp/components/tour-mode-choice.md
  docs/ctramp/components/tour-tod.md
  docs/ctramp/components/trip-mode-choice.md
  docs/ctramp/index.md
  docs/ctramp/~$NDAG_ABM_Model_Design.txt
  docs/images/ctramp-flow.png
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Needed to add a pandas >2.1.1 req
  pyproject.toml
Owners: @lmz, @Ennazus

Needed to change encoding
  tm2py/setup_model/setup.py
Owners: @e-lo, @lmz

Include transponder model in docs
  docs/ctramp/components/transponder.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Minor fix to transit distance calc
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

Updating formatting for transponder.md
  docs/ctramp/components/transponder.md
Owners: @lmz, @Ennazus

Rename document to 'Transponder Ownership Model'
  docs/ctramp/components/transponder.md
Owners: @lmz, @Ennazus

Added parking provision documentation
  docs/ctramp/components/parking-provision.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Fixing formatting
  docs/ctramp/components/parking-provision.md
Owners: @lmz, @Ennazus

getting mkdocs to work with auto-generated code documentation
  docs/ctramp/~$NDAG_ABM_Model_Design.txt
  mkdocs.yml
Owners: @e-lo, @lmz, @Ennazus

Update requirements.txt for doc requirements
  docs/requirements.txt
Owners: @inrokevin, @lmz

Re-enable API documentation generation
  mkdocs.yml
Owners: @e-lo, @lmz, @Ennazus

Fix mkdocstrings configuration for newer version
  docs/_mock_dependencies.py
  mkdocs.yml
Owners: @e-lo, @lmz, @Ennazus

Fix GitHub Actions workflow validation error
  .github/workflows/flake.yml
Owners: @e-lo, @lmz, @Ennazus

Fix workflow trigger validation error
  .github/workflows/flake.yml
Owners: @e-lo, @lmz, @Ennazus

Add comprehensive documentation for MAZ data model
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus

Enhance MAZ data model documentation with comprehensive field descriptions
  docs/api.md
  docs/mock_deps.py
  mkdocs.yml
  tm2py/data_models/__init__.py
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus, @e-lo

Fix mkdocs CI compatibility by removing setup_commands
  mkdocs.yml
Owners: @e-lo, @lmz, @Ennazus

fixed bug in deferred write leading to taz demands not being exported properly
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @Ennazus

Updating ctramp architecture diagram
  docs/ctramp/overview.md
Owners: @lmz, @Ennazus

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @Ennazus

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz   @Ennazus
setup.config                    @e-lo    @lmz   @Ennazus
pre-commit-config.yaml          @e-lo    @lmz   @Ennazus
.markdownlint.yaml              @e-lo    @lmz   @Ennazus

# Documentation Setup
/docs/                         @e-lo    @lmz   @Ennazus
mkdocs.yml                     @e-lo    @lmz   @Ennazus

# Documentation Content
*.md                            @lmz     @Ennazus

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @Ennazus   @i-am-sijia
