Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @FlaviaTsang, @e-lo, @inrokevin, @i-am-sijia

Fix bugs to get SkimMAZCosts to run
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @FlaviaTsang

Create debug log by default
  tm2py/config.py
Owners: @lmz, @FlaviaTsang

Add Scenario name to config
  examples/scenario_config.toml
  tm2py/config.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

Fix bug where dict was stripped of values
  tm2py/omx.py
Owners: @lmz, @FlaviaTsang

Fix test_config for update to default log file names
  tests/test_config.py
Owners: @e-lo, @inrokevin, @lmz

Ran pre-commit/linting
  README.md
  tests/test_logging.py
  tm2py/components/demand/air_passenger.py
  tm2py/components/demand/commercial.py
  tm2py/components/demand/internal_external.py
  tm2py/components/demand/toll_choice.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_maz.py
  tm2py/components/network/skims.py
  tm2py/components/time_of_day.py
  tm2py/config.py
  tm2py/logger.py
  tm2py/matrix.py
  tm2py/omx.py
Owners: @lmz, @FlaviaTsang, @e-lo, @inrokevin

WIP Transit Assign
  tm2py/components/component.py
  tm2py/components/demand/internal_external.py
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_maz.py
  tm2py/components/network/highway/highway_network.py
  tm2py/components/network/transit/transit_assign.py
  tm2py/components/network/transit/transit_network.py
  tm2py/components/network/transit/transit_skim.py
  tm2py/controller.py
  tm2py/emme/manager.py
  tm2py/matrix.py
Owners: @lmz, @FlaviaTsang, @inrokevin

Pull cost functions out of long string; turn them into functions
  tm2py/components/network/transit/transit_assign.py
Owners: @lmz, @FlaviaTsang

Added ccr weights as params
  examples/model_config.toml
  tm2py/components/network/transit/transit_assign.py
  tm2py/config.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

Added more params... eawt factors
  examples/model_config.toml
  tm2py/components/network/transit/transit_assign.py
  tm2py/config.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

fix bugs in truck model
  examples/UnionCity/tm2py_debug_20220910_2045.log
  tm2py/components/demand/commercial.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

uncomment matrix_round()
  examples/UnionCity/tm2py_debug_20220910_2051.log
  tm2py/components/demand/commercial.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

ignore *.log
  .gitignore
  examples/UnionCity/tm2py_debug_20220910_2045.log
  examples/UnionCity/tm2py_debug_20220910_2051.log
Owners: @lmz, @FlaviaTsang, @i-am-sijia

batch bug fixes in external model
  tm2py/components/demand/internal_external.py
  tm2py/components/demand/toll_choice.py
  tm2py/components/network/skims.py
  tm2py/components/time_of_day.py
  tm2py/config.py
Owners: @lmz, @FlaviaTsang

fix bug in applying matrix factor
  tm2py/matrix.py
Owners: @lmz, @FlaviaTsang

update model config
  examples/model_config.toml
Owners: @FlaviaTsang, @i-am-sijia

pre-commit fixes
  tm2py/components/demand/commercial.py
  tm2py/components/demand/internal_external.py
  tm2py/components/demand/toll_choice.py
  tm2py/components/network/skims.py
  tm2py/components/time_of_day.py
  tm2py/config.py
Owners: @lmz, @FlaviaTsang

update root_dir()
  bin/tm2py
  bin/update_docs
  tests/conftest.py
Owners: @inrokevin, @lmz, @e-lo

add example data to tests
  tests/test_air_access.py
  tests/test_externals.py
  tests/test_highway.py
  tests/test_trucks.py
  tm2py/examples.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

skip truck test if no inro package
  tests/test_trucks.py
Owners: @e-lo, @inrokevin, @lmz

debug new manager.py
  tm2py/emme/manager.py
Owners: @inrokevin

debug air passenger
  tm2py/components/component.py
Owners: @lmz, @FlaviaTsang

update commercial.py to work with new manager
  tm2py/components/demand/commercial.py
Owners: @lmz, @FlaviaTsang

update truck test
  tests/conftest.py
  tests/test_trucks.py
Owners: @e-lo, @inrokevin, @lmz

run pre-commit
  tests/conftest.py
  tests/test_trucks.py
  tm2py/components/network/transit/transit_assign.py
  tm2py/config.py
  tm2py/emme/manager.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

debug transit_network.py
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/transit/transit_network.py
  tm2py/controller.py
Owners: @lmz, @FlaviaTsang

debug transit_assign with zero demand
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/transit/transit_assign.py
Owners: @lmz, @FlaviaTsang

debug manager.py
  tm2py/emme/manager.py
Owners: @inrokevin

update config.py
  tm2py/config.py
Owners: @lmz, @FlaviaTsang

debug prepare transit demand
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @FlaviaTsang

debug extended assignment with non-zero demand
  tm2py/components/network/transit/transit_assign.py
Owners: @lmz, @FlaviaTsang

debug transit skimming
  tm2py/components/network/transit/transit_skim.py
Owners: @lmz, @FlaviaTsang

add_volume True for multi-class assignment
  tm2py/components/network/transit/transit_assign.py
Owners: @lmz, @FlaviaTsang

debug transit ccr assignment
  requirements.txt
  tm2py/components/network/transit/transit_assign.py
Owners: @inrokevin, @lmz, @FlaviaTsang

debug transit ccr skimming
  tm2py/components/network/transit/transit_skim.py
Owners: @lmz, @FlaviaTsang

remove dill dependency
  requirements.txt
  tm2py/components/network/transit/transit_assign.py
Owners: @inrokevin, @lmz, @FlaviaTsang

debug transit_network.py with fare on
  tm2py/components/network/transit/transit_network.py
Owners: @lmz, @FlaviaTsang

transit assignment with fare on
  tm2py/components/network/transit/transit_assign.py
Owners: @lmz, @FlaviaTsang

Import unittest.mock in mocked_inro_context()
  tests/conftest.py
Owners: @e-lo, @inrokevin, @lmz

Fix documentation: two dashes required
  docs/contributing/development.md
Owners: @lmz, @FlaviaTsang

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @FlaviaTsang

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz
setup.config                    @e-lo    @lmz
pre-commit-config.yaml          @e-lo    @lmz
.markdownlint.yaml              @e-lo    @lmz

# Documentation Setup
/docs/                         @e-lo    @lmz
mkdocs.yml                     @e-lo    @lmz

# Documentation Content
*.md                            @lmz     @FlaviaTsang

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @FlaviaTsang   @i-am-sijia
