Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @FlaviaTsang, @e-lo, @inrokevin, @i-am-sijia

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @FlaviaTsang

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz
setup.config                    @e-lo    @lmz
pre-commit-config.yaml          @e-lo    @lmz
.markdownlint.yaml              @e-lo    @lmz

# Documentation Setup
/docs/                         @e-lo    @lmz
mkdocs.yml                     @e-lo    @lmz

# Documentation Content
*.md                            @lmz     @FlaviaTsang

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @FlaviaTsang   @i-am-sijia

Progress on transit acceptance
  notebooks/acceptance-dev-helper.ipynb
  notebooks/acceptance-transit.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang

add gdal in requirement
  requirements.txt
Owners: @inrokevin, @lmz

GDAL install issue with ubuntu
  .github/workflows/push.yml
Owners: @e-lo, @lmz

suppress time of day
  notebooks/acceptance-transit.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang

Minor fixes, update notebook
  notebooks/acceptance-transit.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang

clean up transit, start on other
  .gitignore
  examples/observed_data.toml
  notebooks/acceptance-dev-helper.ipynb
  notebooks/acceptance-other.twb
  notebooks/acceptance-transit.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang, @i-am-sijia

add CTPP comparisons
  notebooks/acceptance-other.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang

add congested transit
  notebooks/acceptance-dev-helper.ipynb
  notebooks/acceptance-transit.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang

add automobile ownership
  .gitignore
  examples/observed_data.toml
  notebooks/acceptance-dev-helper.ipynb
  notebooks/acceptance-other.geojson
  notebooks/acceptance-other.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang, @i-am-sijia

clean up notebook
  notebooks/acceptance-dev-helper.ipynb
Owners: @lmz, @FlaviaTsang

Replace simulated households with observed hhs
  notebooks/acceptance-other.geojson
  notebooks/acceptance-other.twb
  tm2py/acceptance.py
Owners: @lmz, @FlaviaTsang

skip ci, rather than skip tests
  .github/workflows/test.yml
Owners: @e-lo, @lmz

add back create tod scenarios.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/tools.py
Owners: @lmz, @FlaviaTsang

update toll calculation
  tm2py/components/network/highway/highway_network.py
  tm2py/config.py
  tm2py/controller.py
Owners: @lmz, @FlaviaTsang

resolve assignment error with full network
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/transit/transit_network.py
Owners: @lmz, @FlaviaTsang
