Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @Ennazus, @e-lo, @inrokevin, @i-am-sijia

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @Ennazus

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz   @Ennazus
setup.config                    @e-lo    @lmz   @Ennazus
pre-commit-config.yaml          @e-lo    @lmz   @Ennazus
.markdownlint.yaml              @e-lo    @lmz   @Ennazus

# Documentation Setup
/docs/                         @e-lo    @lmz   @Ennazus
mkdocs.yml                     @e-lo    @lmz   @Ennazus

# Documentation Content
*.md                            @lmz     @Ennazus

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @Ennazus   @i-am-sijia

Fix chart formatting
  docs/ctramp/overview.md
Owners: @lmz, @Ennazus

reorganize for better findability;
  docs/api.md
  docs/input/landuse.md
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus

Enhanced documentation: MAZ data model integration and API restructure
  docs/input/landuse.md
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus

Fix mkdocstrings configuration and optimize MAZ data model documentation
  docs/input/landuse.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Ensure complete MAZ data field documentation with explicit member listing
  docs/input/landuse.md
Owners: @lmz, @Ennazus

Add explicit telecommute documentation
  docs/ctramp/components/telecommute.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Add comprehensive CTRAMP output file documentation with modern styling
  docs/ctramp-outputs/data-dictionaries.md
  docs/ctramp-outputs/household.md
  docs/ctramp-outputs/index.md
  docs/ctramp-outputs/individual-tours.md
  docs/ctramp-outputs/individual-trips.md
  docs/ctramp-outputs/joint-tours.md
  docs/ctramp-outputs/joint-trips.md
  docs/ctramp-outputs/person.md
  docs/ctramp-outputs/workplace-school-location.md
  docs/outputs.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Clean up old CTRAMP output page and redirect to modern documentation
  docs/output/ctramp.md
Owners: @lmz, @Ennazus

Integrate CTRAMP model components with output file documentation
  docs/ctramp/components/individual-tours.md
  docs/ctramp/components/joint-tours.md
  docs/ctramp/index.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Add cross-references to CTRAMP output documentation across site
  docs/api.md
  docs/create-base-year-inputs.md
  docs/index.md
  docs/input/index.md
  docs/run.md
Owners: @lmz, @Ennazus

merged single source of truth maz, fixed maz ass bug
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

Add transit subsidy and pass model documentation
  docs/ctramp/components/transit-subsidy-pass.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Fixing formatting issue
  docs/ctramp/components/transit-subsidy-pass.md
Owners: @lmz, @Ennazus

review comments
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/highway/highway_maz.py
Owners: @lmz, @Ennazus

Add revision date to mkdocs
  docs/requirements.txt
  mkdocs.yml
Owners: @inrokevin, @lmz, @e-lo, @Ennazus

Update stop-frequency documentation
  docs/ctramp/components/stop-frequency.md
Owners: @lmz, @Ennazus

Removing manual update dates
  docs/ctramp/components/parking-provision.md
  docs/ctramp/components/telecommute.md
  docs/ctramp/components/transponder.md
Owners: @lmz, @Ennazus

added reference to taz skims when outputting maz demands
  tm2py/components/demand/prepare_demand.py
Owners: @lmz, @Ennazus

Added parking location documentation
  docs/ctramp/components/parking-location.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

Added more technical notes about UEC and inputs
  docs/ctramp/components/parking-location.md
Owners: @lmz, @Ennazus

adding a couple requirements to python; config update
  requirements.txt
  tm2py/components/post_processor.py
  tm2py/config.py
Owners: @inrokevin, @lmz, @Ennazus

Move prepared data script from core_summaries.py to post_processor
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

Update to include school information
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

Fixed syntax error
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

Building a script to test highway networks at a smaller scale
  tests/COUNTY_TEST_FRAMEWORK_UPDATE.md
  tests/FILTERING_CTRAMP_TRIPS.md
  tests/HIGHWAY_ASSIGN_SKIM_QUICK_REFERENCE.md
  tests/HIGHWAY_ASSIGN_SKIM_README.md
  tests/config_templates/san_mateo_model.toml
  tests/config_templates/san_mateo_scenario.toml
  tests/examples_highway_assign_skim.py
  tests/highway_assign_skim_controller.py
  tests/setup_highway_assign_skim.py
  tests/test_highway_assign_skim.py
Owners: @e-lo, @inrokevin, @lmz

setting up a system to understand networks in tm2py
  docs/assignment/index.md
  scripts/network_analysis/README.md
  scripts/network_analysis/analyze_network.py
Owners: @lmz, @Ennazus

creating data model for enriched outputs
  tm2py/data_models/enriched_output_models.py
Owners: @lmz, @Ennazus

building out script to understand network reqs
  docs/assignment/index.md
  docs/assignment/san_mateo_network_analysis.md
  scripts/network_analysis/analyze_network.py
Owners: @lmz, @Ennazus

Added validation to the post_processor
  tm2py/components/post_processor.py
  tm2py/data_models/__init__.py
  tm2py/data_models/enriched_output_models.py
Owners: @lmz, @Ennazus

removing some old scripts that aren't necessary
  scripts/network_analysis/analyze_network.py
  scripts/tm2py_gui.py
Owners: @lmz, @Ennazus

setting up the test process for one county network processing for 2015 only
  tests/COUNTY_TEST_SETUP_CHECKLIST.md
  tests/config_templates/san_mateo_model.toml
  tests/config_templates/san_mateo_scenario.toml
  tests/examples_highway_assign_skim.py
  tests/test_highway_assign_skim.py
Owners: @e-lo, @inrokevin, @lmz

building out the testing system
  tests/TESTING_INSTRUCTIONS.md
  tests/run_county_test.py
Owners: @e-lo, @inrokevin, @lmz

Update run_county_test.py
  tests/run_county_test.py
Owners: @e-lo, @inrokevin, @lmz

Added batch validation to model validation
  tm2py/data_models/enriched_output_models.py
Owners: @lmz, @Ennazus

making changes for targeted network testing
  tests/COMPLETE_FIELD_NAME_MAPPING.md
  tests/COUNTY_TEST_FRAMEWORK_GUIDE.md
  tests/COUNTY_TEST_FRAMEWORK_SUMMARY.md
  tests/EMME_MANAGER_FLOW.md
  tests/FIELD_NAME_MAPPING.txt
  tests/HIGHWAY_ASSIGN_SKIM_README.md
  tests/NETWORK_THINNING.md
  tests/README.md
  tests/TESTING_INSTRUCTIONS.md
  tests/config_templates/fixed_san_mateo_model.toml
  tests/config_templates/fixed_san_mateo_model_backup.toml
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/config_templates/san_mateo_model.toml
  tests/config_templates/san_mateo_scenario.toml
  tests/highway_assign_skim_controller.py
  tests/run_county_test.py
  tests/test_highway_assign_skim.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/emme/manager.py
Owners: @e-lo, @inrokevin, @lmz, @Ennazus

building test system
  tests/check_modes.py
  tests/config_templates/capclass_all.txt
  tests/config_templates/capclass_full.txt
  tests/config_templates/capclass_section.txt
  tests/config_templates/fixed_san_mateo_model.toml
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/run_county_test.py
Owners: @e-lo, @inrokevin, @lmz

Update run_county_test.py
  tests/run_county_test.py
Owners: @e-lo, @inrokevin, @lmz

Building documentation of the network test system
  docs/assignment/field-name-mapping.md
  docs/testing/county-test-guide.md
  docs/testing/emme-manager-flow.md
  docs/testing/filtering-trips.md
  docs/testing/index.md
  docs/testing/network-thinning.md
  docs/testing/quick-reference.md
  docs/testing/setup.md
  mkdocs.yml
  tests/run_county_test.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

organizing network testing docs
  docs/index.md
  docs/outputs.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

county test documentation update
  docs/testing/county-test-guide.md
  docs/testing/data-flow.md
  docs/testing/index.md
  mkdocs.yml
  tests/county_test_config.toml
  tests/run_county_test.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin
