Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @FlaviaTsang, @e-lo, @inrokevin, @i-am-sijia

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @FlaviaTsang

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz
setup.config                    @e-lo    @lmz
pre-commit-config.yaml          @e-lo    @lmz
.markdownlint.yaml              @e-lo    @lmz

# Documentation Setup
/docs/                         @e-lo    @lmz
mkdocs.yml                     @e-lo    @lmz

# Documentation Content
*.md                            @lmz     @FlaviaTsang

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @FlaviaTsang   @i-am-sijia

Pass flaking/pre-commit
  examples/scenario_config.toml
  tm2py/components/demand/commercial.py
  tm2py/components/demand/household.py
  tm2py/components/demand/internal_external.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/emme/matrix.py
  tm2py/logger.py
  tm2py/tools.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz, @inrokevin

Add interpolate DF to tools
  tests/test_tools.py
  tm2py/components/demand/air_passenger.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

black
  tests/test_tools.py
  tm2py/components/demand/air_passenger.py
  tm2py/components/demand/commercial.py
  tm2py/components/demand/household.py
  tm2py/components/demand/internal_external.py
  tm2py/controller.py
  tm2py/emme/matrix.py
  tm2py/tools.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

Add export df to omx general tool
  tests/test_tools.py
  tm2py/components/demand/air_passenger.py
  tm2py/tools.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

Parameterize trip rates for truck model
  examples/model_config.toml
  tm2py/components/demand/commercial.py
  tm2py/components/demand/internal_external.py
  tm2py/components/demand/temp.ipynb
  tm2py/config.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

Refine Trip Distribution for Trucks
  examples/model_config.toml
  tests/test_network.py
  tests/test_tools.py
  tm2py/components/demand/air_passenger.py
  tm2py/components/demand/commercial.py
  tm2py/components/demand/internal_external.py
  tm2py/components/network/tools.py
  tm2py/config.py
  tm2py/tools.py
Owners: @FlaviaTsang, @i-am-sijia, @e-lo, @inrokevin, @lmz

add masking generic skim tool
  tm2py/components/network/skims.py
Owners: @lmz, @FlaviaTsang

Add ability to run tests with mock by force
  docs/contributing/development.md
  tests/conftest.py
Owners: @lmz, @FlaviaTsang, @e-lo, @inrokevin

fix isort error
  tm2py/components/component.py
  tm2py/config.py
Owners: @lmz, @FlaviaTsang

Fix os path compatibility (#58)
  examples/model_config.toml
  examples/scenario_config.toml
  tm2py/components/component.py
  tm2py/components/demand/demand.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/tools.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

Minor changes to get tests to pass
  pytest.ini
  tests/conftest.py
  tests/test_docs.py
  tests/test_union_city.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_maz.py
  tm2py/controller.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

Commercial Vehicle Model Refactor
  examples/model_config.toml
  tests/conftest.py
  tm2py/components/component.py
  tm2py/components/demand/commercial.py
  tm2py/components/demand/toll_choice.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_maz.py
  tm2py/components/network/skims.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/emme/manager.py
  tm2py/emme/matrix.py
  tm2py/emme/network.py
  tm2py/logger.py
  tm2py/tools.py
Owners: @FlaviaTsang, @i-am-sijia, @e-lo, @inrokevin, @lmz

Resolved pep, flake, tests
  tests/test_network.py
  tm2py/components/component.py
  tm2py/components/demand/air_passenger.py
  tm2py/components/demand/commercial.py
  tm2py/components/demand/household.py
  tm2py/components/demand/internal_external.py
  tm2py/components/demand/toll_choice.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_maz.py
  tm2py/components/network/skims.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/emme/manager.py
  tm2py/emme/matrix.py
  tm2py/emme/network.py
  tm2py/tools.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

improved testing extensibility with small refactor
  examples/model_config.toml
  tests/conftest.py
  tests/test_highway.py
  tests/test_run_flow.py
  tests/test_skims.py
  tests/test_trucks.py
  tests/test_union_city.py
  tests/tools.py
  tm2py/components/component.py
  tm2py/components/demand/air_passenger.py
  tm2py/components/demand/commercial.py
  tm2py/components/demand/toll_choice.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/skims.py
  tm2py/config.py
  tm2py/controller.py
Owners: @FlaviaTsang, @i-am-sijia, @e-lo, @inrokevin, @lmz

air pax debugged
  examples/model_config.toml
  tests/test_air_access.py
  tests/test_externals.py
  tests/test_highway.py
  tests/test_household.py
  tests/test_run_flow.py
  tests/test_trucks.py
  tests/tools.py
  tm2py/components/component.py
  tm2py/components/demand/air_passenger.py
  tm2py/config.py
Owners: @FlaviaTsang, @i-am-sijia, @e-lo, @inrokevin, @lmz

LOADS of fixes.
  docs/api.md
  examples/model_config.toml
  tests/test_air_access.py
  tests/test_externals.py
  tests/test_highway.py
  tests/test_household.py
  tests/test_run_flow.py
  tests/test_skims.py
  tests/test_tools.py
  tests/tools.py
  tm2py/components/component.py
  tm2py/components/demand/air_passenger.py
  tm2py/components/demand/commercial.py
  tm2py/components/demand/internal_external.py
  tm2py/components/demand/prepare_demand.py
  tm2py/components/demand/toll_choice.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_maz.py
  tm2py/components/network/highway/highway_network.py
  tm2py/components/network/skims.py
  tm2py/components/time_of_day.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/matrix.py
  tm2py/omx.py
  tm2py/tools.py
Owners: @lmz, @FlaviaTsang, @i-am-sijia, @e-lo, @inrokevin

fix bug in checking emme context
  tm2py/tools.py
Owners: @lmz, @FlaviaTsang

conform return path type
  tm2py/components/component.py
Owners: @lmz, @FlaviaTsang

fixing bugs in commercials.py (not finished)
  tm2py/components/demand/commercial.py
Owners: @lmz, @FlaviaTsang

update trunk class name
  examples/model_config.toml
Owners: @FlaviaTsang, @i-am-sijia

fix bugs in commercial tod model
  tm2py/components/demand/commercial.py
Owners: @lmz, @FlaviaTsang

fixing typo
  tm2py/components/demand/commercial.py
Owners: @lmz, @FlaviaTsang

PEP8
  tm2py/components/demand/commercial.py
  tm2py/matrix.py
  tm2py/omx.py
Owners: @lmz, @FlaviaTsang

Add home accessibility component
  tests/test_autoownership.py
  tm2py/components/access.py
  tm2py/components/time_of_day.py
  tm2py/config.py
  tm2py/controller.py
Owners: @e-lo, @inrokevin, @lmz, @FlaviaTsang

eliminate duplicate time periods propperties
  tm2py/components/demand/commercial.py
Owners: @lmz, @FlaviaTsang

Read truckFF as csv not dat
  tm2py/components/demand/commercial.py
Owners: @lmz, @FlaviaTsang

minor clean up
  tm2py/components/demand/commercial.py
  tm2py/components/demand/internal_external.py
  tm2py/components/demand/toll_choice.py
Owners: @lmz, @FlaviaTsang

testing toll choice (not finished)
  tm2py/components/demand/commercial.py
  tm2py/components/demand/toll_choice.py
  tm2py/components/network/skims.py
Owners: @lmz, @FlaviaTsang

config for running accessibility
  examples/model_config.toml
  examples/scenario_config.toml
  tm2py/config.py
  tm2py/controller.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

auto accessibility first pass
  tm2py/components/access.py
Owners: @lmz, @FlaviaTsang

transit and nm accessibility first pass
  examples/model_config.toml
  tm2py/components/access.py
  tm2py/components/network/skims.py
  tm2py/config.py
Owners: @FlaviaTsang, @i-am-sijia, @lmz

Update path logic
  tm2py/components/demand/air_passenger.py
Owners: @lmz, @FlaviaTsang

Add import gdal up front per @AntoineGrapperon
  bin/tm2py
Owners: @inrokevin, @lmz, @e-lo

Add UnionCity inputs dir to git ignore
  .gitignore
Owners: @lmz, @FlaviaTsang

Fix test_docs.py failure
  docs/api.md
  requirements.txt
Owners: @lmz, @FlaviaTsang, @inrokevin

Add windows + Emme installation instructions
  README.md
Owners: @lmz, @FlaviaTsang

Update logging to
  docs/contributing/development.md
  tests/conftest.py
  tests/test_logging.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_maz.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/logger.py
Owners: @lmz, @FlaviaTsang, @e-lo, @inrokevin

Refactor transit skims and network prep
  examples/model_config.toml
  tests/test_air_access.py
  tests/test_config.py
  tests/test_externals.py
  tests/test_transit.py
  tm2py/components/component.py
  tm2py/components/demand/commercial.py
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/transit/transit_assign.py
  tm2py/components/network/transit/transit_network.py
  tm2py/components/network/transit/transit_skim.py
  tm2py/components/time_of_day.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/emme/manager.py
  tm2py/matrix.py
  tm2py/omx.py
  tm2py/tools.py
Owners: @FlaviaTsang, @i-am-sijia, @e-lo, @inrokevin, @lmz

Use default logging configuration for example
  examples/model_config.toml
Owners: @FlaviaTsang, @i-am-sijia

Fix error with omx file path construction
  tm2py/components/network/highway/highway_assign.py
Owners: @lmz, @FlaviaTsang
