Repository BayAreaMetro/tm2py, changes with the owners that CODEOWNERS names for each.
All owners: @lmz, @Ennazus, @e-lo, @inrokevin, @i-am-sijia

CODEOWNERS:

# Helps auto-assign code reviews for pull requests
# The last match will 'win'

# Global owners
*                               @lmz    @Ennazus

# DevOps / Quality Assurance
/.github/                       @e-lo    @lmz   @Ennazus
setup.config                    @e-lo    @lmz   @Ennazus
pre-commit-config.yaml          @e-lo    @lmz   @Ennazus
.markdownlint.yaml              @e-lo    @lmz   @Ennazus

# Documentation Setup
/docs/                         @e-lo    @lmz   @Ennazus
mkdocs.yml                     @e-lo    @lmz   @Ennazus

# Documentation Content
*.md                            @lmz     @Ennazus

# Tests should be reviewed by dev team
pytest.ini                      @e-lo   @inrokevin  @lmz
/tests/                         @e-lo   @inrokevin  @lmz

# EMME related things should be reviewed by INRO
/tm2py/emme/                    @inrokevin

# Packaging
setup.py                         @e-lo          @lmz
*requirements*.txt               @inrokevin     @lmz
manifest.in                      @e-lo          @lmz
environment.yml                  @inrokevin     @lmz
Dockerfile                       @inrokevin     @lmz
/bin/                            @inrokevin     @lmz         @e-lo

# Examples
/examples/                       @Ennazus   @i-am-sijia

Remove unused demand.py and fix updated_output directory creation
  tm2py/components/demand/demand.py
  tm2py/components/post_processor.py
Owners: @lmz, @Ennazus

Further updates for county test run
  scripts/run_county_test.py
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network_summary.py
  tm2py/components/post_processor.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/logger.py
Owners: @lmz, @Ennazus

Remove more files that I think are redundant / complicated
  tests/config_templates/capclass_all.txt
  tests/config_templates/capclass_full.txt
  tests/config_templates/capclass_section.txt
  tests/examples_highway_assign_skim.py
  tests/setup_highway_assign_skim.py
  tm2py/county_tools.py
Owners: @e-lo, @inrokevin, @lmz, @Ennazus

Update run_county_test.py
  tests/run_county_test.py
Owners: @e-lo, @inrokevin, @lmz

building test system
  tests/check_modes.py
  tests/config_templates/capclass_all.txt
  tests/config_templates/capclass_full.txt
  tests/config_templates/capclass_section.txt
  tests/config_templates/fixed_san_mateo_model.toml
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/run_county_test.py
Owners: @e-lo, @inrokevin, @lmz

making changes for targeted network testing
  tests/COMPLETE_FIELD_NAME_MAPPING.md
  tests/COUNTY_TEST_FRAMEWORK_GUIDE.md
  tests/COUNTY_TEST_FRAMEWORK_SUMMARY.md
  tests/EMME_MANAGER_FLOW.md
  tests/FIELD_NAME_MAPPING.txt
  tests/HIGHWAY_ASSIGN_SKIM_README.md
  tests/NETWORK_THINNING.md
  tests/README.md
  tests/TESTING_INSTRUCTIONS.md
  tests/config_templates/fixed_san_mateo_model.toml
  tests/config_templates/fixed_san_mateo_model_backup.toml
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/config_templates/san_mateo_model.toml
  tests/config_templates/san_mateo_scenario.toml
  tests/highway_assign_skim_controller.py
  tests/run_county_test.py
  tests/test_highway_assign_skim.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/emme/manager.py
Owners: @e-lo, @inrokevin, @lmz, @Ennazus

fixing configuration files for county highway test
  docs/testing/quick-start.md
  tests/CONFIG_COMPARISON_REPORT.md
  tests/NETWORK_THINNING.md
  tests/config_templates/fixed_san_mateo_model.toml
  tests/config_templates/fixed_san_mateo_model_backup.toml
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/config_templates/san_mateo_model.toml
  tests/config_templates/san_mateo_scenario.toml
  tests/run_county_test.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

county test system is working
  docs/input/network.md
  tests/CONFIG_COMPARISON_REPORT.md
  tests/check_network_volumes.py
  tests/config_templates/fixed_san_mateo_model.toml
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/county_test_config.toml
  tests/placeholder_files/interchange_nodes_empty.csv
  tests/placeholder_files/tolls_empty.csv
  tests/run_county_test.py
  tm2py/components/network/highway/highway_assign.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

adding logging to county network test
  tests/county_test_config.toml
  tests/run_county_test.py
Owners: @e-lo, @inrokevin, @lmz

Building documentation of the network test system
  docs/assignment/field-name-mapping.md
  docs/testing/county-test-guide.md
  docs/testing/emme-manager-flow.md
  docs/testing/filtering-trips.md
  docs/testing/index.md
  docs/testing/network-thinning.md
  docs/testing/quick-reference.md
  docs/testing/setup.md
  mkdocs.yml
  tests/run_county_test.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

removing documentation that has been moved
  tests/COMPLETE_FIELD_NAME_MAPPING.md
  tests/COUNTY_TEST_FRAMEWORK_GUIDE.md
  tests/COUNTY_TEST_FRAMEWORK_SUMMARY.md
  tests/COUNTY_TEST_FRAMEWORK_UPDATE.md
  tests/COUNTY_TEST_SETUP_CHECKLIST.md
  tests/EMME_MANAGER_FLOW.md
  tests/FILTERING_CTRAMP_TRIPS.md
  tests/HIGHWAY_ASSIGN_SKIM_QUICK_REFERENCE.md
  tests/HIGHWAY_ASSIGN_SKIM_README.md
  tests/NETWORK_THINNING.md
  tests/TESTING_INSTRUCTIONS.md
  tests/run_county_test.py
Owners: @e-lo, @inrokevin, @lmz

organizing network testing docs
  docs/index.md
  docs/outputs.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

working through county test process
  docs/testing/configuration.md
  docs/testing/county-test-guide.md
  docs/testing/data-flow.md
  docs/testing/index.md
  docs/testing/quick-start.md
  docs/testing/setup.md
  mkdocs.yml
  tests/config_templates/fixed_san_mateo_model.toml
  tests/county_test_config.toml
  tests/run_county_test.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

county test documentation update
  docs/testing/county-test-guide.md
  docs/testing/data-flow.md
  docs/testing/index.md
  mkdocs.yml
  tests/county_test_config.toml
  tests/run_county_test.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

get county test working on the new 2023 network
  tests/county_test_config.toml
  tests/inspect_emme_network.py
  tests/osm_network_issues.md
  tests/quick_network_check.py
  tests/run_county_test.py
  tm2py/components/network/highway/highway_network.py
Owners: @e-lo, @inrokevin, @lmz, @Ennazus

fixes for county network test
  tests/run_county_test.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/setup_model/setup.py
Owners: @e-lo, @inrokevin, @lmz, @Ennazus

remove network thinning no longer needed
  tests/OSM_Network_Available_Attributes.md
  tests/OSM_Network_Investigation_Summary.md
  tests/analyze_osm_network.py
  tests/list_network_attributes.py
  tests/osm_network_issues.md
  tm2py/components/network/create_tod_scenarios.py
Owners: @e-lo, @inrokevin, @lmz, @Ennazus

create_tod_scenarios needs an option for only running highway
  docs/input/node-crosswalks.md
  docs/testing/node-crosswalk-guide.md
  docs/troubleshooting/network-data-issues.md
  tests/config_templates/fixed_san_mateo_model.toml
  tests/config_templates/fixed_san_mateo_scenario.toml
  tm2py/components/network/create_tod_scenarios.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

network-emmebank-documentation
  docs/setup-component-integration.md
  tests/check_emme_database_attributes.py
  tests/check_template_attributes.py
  tests/run_county_test.py
  tm2py/components/network/create_tod_scenarios.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

county summary documentation about summary
  docs/testing/configuration.md
  docs/testing/county-test-guide.md
  docs/testing/index.md
  docs/testing/quick-start.md
  tests/highway_assign_skim_controller.py
  tests/run_county_test.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

network documentation update
  docs/input/network.md
  docs/run.md
  mkdocs.yml
Owners: @lmz, @Ennazus, @e-lo

correcting county network test to use input files
  PR_DESCRIPTION.md
  SETUP_COMPONENT_TODO.md
  docs/setup-component-integration.md
  tests/README.md
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/configure_emme_attributes.py
  tests/county_test_config.toml
  tests/generate_node_xwalk.py
  tests/highway_assign_skim_controller.py
  tests/run_county_test.py
  tm2py/components/setup.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/data_models/maz_data.py
  tm2py/setup_model/setup.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

updates to PR and instructions
  PR_DESCRIPTION.md
  docs/testing/quick-start.md
Owners: @lmz, @Ennazus

Move this file to a more appropriate location/name
  tm2py/tools/county_utils.py
Owners: @lmz, @Ennazus

Revert controller because including setup as a component is too complicated
  tm2py/components/setup.py
  tm2py/controller.py
Owners: @e-lo, @lmz, @Ennazus

adding documentation for file flow
  .github/copilot-instructions.md
  docs/input/highway-network-processing.md
  docs/input/network.md
  docs/testing/county-test-guide.md
  docs/testing/index.md
  docs/troubleshooting/network-data-issues.md
  mkdocs.yml
  tests/county_test_config.toml
  tm2py/components/network/create_tod_scenarios.py
  tm2py/controller.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

debugging fixes for county network test
  .github/copilot-instructions.md
  docs/testing/quick-start.md
  tests/county_test_config.toml
  tests/minimal_emme_test.py
  tests/run_county_test.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_network.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

Move this to scripts because it's more of a standalone script rather than a pytests test
  scripts/run_county_test.py
Owners: @lmz, @Ennazus

separating test inputs by network, non-network, and demand
  MagicMock/mock.Emmebank().path/debug_dumps/assign_spec_no_analysis_AM.json
  MagicMock/mock.Emmebank().path/debug_dumps/emme_version.txt
  MagicMock/mock.Emmebank().path/debug_dumps/matrices_AM.txt
  MagicMock/mock.Emmebank().path/debug_dumps/scenario_AM.txt
  MagicMock/mock.Emmebank().path/debug_dumps/vdfs_AM.txt
  PR_DESCRIPTION.md
  docs/testing/configuration.md
  docs/testing/quick-start.md
  tests/NETWORK_THINNING.md
  tests/OSM_Network_Available_Attributes.md
  tests/analyze_osm_network.py
  tests/check_modes.py
  tests/check_network_volumes.py
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/county_test_config.toml
  tests/list_network_attributes.py
  tests/run_county_test.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/data_models/maz_data.py
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

Removing debug dump files
  MagicMock/mock.Emmebank().path/debug_dumps/assign_spec_no_analysis_AM.json
  MagicMock/mock.Emmebank().path/debug_dumps/emme_version.txt
  MagicMock/mock.Emmebank().path/debug_dumps/matrices_AM.txt
  MagicMock/mock.Emmebank().path/debug_dumps/scenario_AM.txt
  MagicMock/mock.Emmebank().path/debug_dumps/vdfs_AM.txt
Owners: @lmz, @Ennazus

Fix run_county_test to use the existing setup model system
  scripts/run_county_test.py
  tm2py/county_tools.py
  tm2py/setup_model/setup.py
Owners: @lmz, @Ennazus, @e-lo

Don't log with level INFO and include "DEBUG"; use DEBUG level
  tm2py/components/network/create_tod_scenarios.py
Owners: @lmz, @Ennazus

Further updates for county test run
  scripts/run_county_test.py
  tm2py/components/demand/prepare_demand.py
  tm2py/components/network/create_tod_scenarios.py
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network_summary.py
  tm2py/components/post_processor.py
  tm2py/config.py
  tm2py/controller.py
  tm2py/logger.py
Owners: @lmz, @Ennazus

Make this more straightfoward: read setup config in init
  tm2py/setup_model/setup.py
Owners: @e-lo, @lmz

Simplified version - uses existing setup and config
  scripts/run_county_test.py
  tests/config_templates/fixed_san_mateo_model.toml
  tests/config_templates/fixed_san_mateo_scenario.toml
  tests/county_test_config.toml
Owners: @lmz, @Ennazus, @e-lo, @inrokevin

Remove more files that I think are redundant / complicated
  tests/config_templates/capclass_all.txt
  tests/config_templates/capclass_full.txt
  tests/config_templates/capclass_section.txt
  tests/examples_highway_assign_skim.py
  tests/setup_highway_assign_skim.py
  tm2py/county_tools.py
Owners: @e-lo, @inrokevin, @lmz, @Ennazus

Deprecating this custom controller
  tests/highway_assign_skim_controller.py
Owners: @e-lo, @inrokevin, @lmz

Move RunModel.py script into its own file
  tm2py/setup_model/RunModel.py
  tm2py/setup_model/setup.py
Owners: @lmz, @Ennazus, @e-lo

Move main to its own method so it can be runnable from other scripts
  tm2py/setup_model/RunModel.py
Owners: @lmz, @Ennazus

Time period upper/lower case problems
  tm2py/components/network/highway/highway_assign.py
  tm2py/components/network/highway/highway_emme_spec.py
  tm2py/components/network/highway/highway_maz.py
  tm2py/components/network/highway/highway_network.py
  tm2py/controller.py
Owners: @lmz, @Ennazus
